nudity_detect/models/parse_body_tf_GES_v2.0.0.pb
nb_hand_gesture/tool/model/14_1031_2_axer_train_only_dada_ratio_0.19_finetue_common_epoch_92_release_1.0.0.pth
face_recognition/src/3rdParty/tensorflow/r1.8/libs/Linux/cuda9/libtensorflow_cc.so
face_recognition/src/3rdParty/tensorflow/r1.8/libs/Linux/cpu/libtensorflow_cc.so
face_recognition/src/3rdParty/ubuntu-cuda10/libcudnn.so.7
face_recognition/src/3rdParty/ubuntu-cuda10/libnvinfer.so.5
face_recognition/src/3rdParty/ubuntu-cuda10/libcublas.so.10.0
face_recognition/src/det_face_id/libs/linux/gpu/libcudnn.so.7
face_recognition/src/det_face_id/libs/linux/gpu/libnvinfer.so.5
face_recognition/src/det_face_id/libs/linux/gpu/libcublas.so.10.0
